__pycache__
*.py[cod]
*.pyo
*.pyd
*.egg-info
*.egg
*.whl
*.env
*.venv
*.db
*.sqlite3
*.log
*.DS_Store
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.coverage.*
*.hypothesis
*.coverage.*
*.coverage.*
*.coverage.*
*.coverage.*
fake_data.py
QRCODE
env
test.py
pycontg25
